{% extends 'system/base.html' %}

{% block title %}Статья {{article.title}}{% endblock %}

{% block content %}


<tbody>
  <tr>
    <td width="514" valign="middle" align="center">
      <div style="display: inline-block; white-space:break-word; word-wrap:break-word;">
        <font color = "#00008f">Название статьи: {{article.title}}</font>
      </div>
    </td>
    <div style="height:10px;"></div>
    <td width="514" valign="middle" align="center">
      <div style="display: inline-block; white-space:break-word;">
        <font color = "#00008f">Авторы: {{article.fio}}</font>
      </div>
    </td>
    <div style="height:10px;"></div>
    <td width="514" valign="middle" align="center">
      <div style="display: inline-block; white-space:nowrap">
          <font color = "#00008f">Название журнала: <a href="{% url 'journal' article.journal.journal_id %}">{{article.journal}}</a></font>
      </div>
    </td>
          <div style="height:10px;"></div>
    <td width="514" valign="middle" align="center">
      <div style="display: inline-block; white-space:nowrap">
        <font color = "#00008f">Рубрика: {{article.topic}}</font>
      </div>
    </td>
              <div style="height:10px;"></div>
    <td width="514" valign="middle" align="center">
      <div style="display: inline-block; white-space:break-word;">
        <font color = "#00008f">Ключевые слова: {{article.keywords}}</font>
      </div>
    </td>
                  <div style="height:10px;"></div>
    <td width="514" valign="middle" align="center" >
      <div style="display: inline-block; white-space:normal; word-wrap:break-word;">
        <font color = "#00008f">Аннотация: {{article.annotations}}</font>
      </div>
    </td>

  </tr>
</tbody>
<div style="height:10px;"></div>
        <tr>
            <a class="btn btn-primary" href="pdf">PDF-формат</a>
        </tr>
{% endblock %}

{% block settings %}
{% if user.is_authenticated %}
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-white p-4">
      <h4 class="text-black">Выбор модели</h4>
      <form id="myFrom" action="similar_LSA">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="LSA" onChange="this.form.action='similar_LSA' " checked>
                <label class="form-check-label" for="Radios1">
                    LSA
                </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="Word2Vec" onChange="this.form.action='similar_W2V' ">
                <label class="form-check-label" for="Radios2">
                    Word2Vec
                </label>
        </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="Doc2Vec" onChange="this.form.action='similar_D2V' ">
                <label class="form-check-label" for="Radios3">
                    Doc2Vec
                </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="FastText" onChange="this.form.action='similar_FT' ">
                <label class="form-check-label" for="Radios4">
                    FastText
                </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="Radios5" value="BERT" onChange="this.form.action='similar_BERT' ">
                <label class="form-check-label" for="Radios5">
                    BERT
                </label>
        </div>

        <tr>
            <button class="btn btn-primary">Подобные статьи</button>
        </tr>
      </form>
        <h4 class="text-black">Статистика по статье</h4>
        <tr>
            <a class="btn btn-primary" href="stats">Статистика</a>
        </tr>
        {% if author == user.username %}
            <h4 class="text-black">Удаление статьи</h4>
            <tr>
                <a class="btn btn-primary" href="article_delete">Удалить статью</a>
            </tr>
        {% endif %}
    </div>
  </div>
  <nav class="navbar navbar navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
{% endif %}
{% endblock %}
