{% extends "system/base.html" %}
{% block title %}Профиль{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
      {% if user.is_authenticated %}
          {% if article_list %}
              <ul>
                <h4 class="account-heading">Ваши статьи:</h4>
              {% for temporary_article in article_list %}
                  <li><a href="{% url 'article_url' temporary_article.article_id %}">{{ temporary_article.title }}</a></li>
              {% endfor %}
              </ul>
          {% else %}
              <p>No articles are available.</p>
          {% endif %}
      {% endif %}
    </div>
{% endblock content %}

{% block settings %}
      </div>
      {% if user.is_staff %}
        <a class="btn btn-primary" href="temporary_articles">Статьи на проверку</a>
      {% endif %}
    </div>
{% endblock settings %}